html, body {
    height: 100%;
}
body {
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-direction: column;
}
.container {
    width: 500px;
    height: 500px;
    display: flex;
    border: 1px black;
    flex-wrap: wrap;
    border-collapse: collapse;
    background: #858383;
}
.cell {
    border: 1px solid #d4cfcf;
    background-color: #f0f0f0;
    border-collapse: collapse;
}
#new-grid {
    margin: 10px;
}
.btns {
    display: flex;
    justify-content: center;
}
.btn {
    height: 50px;
    width: 100px;
    padding: 0;
    margin: 20px;
    background-color: coral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em ; 
}
#new-grid {
    margin: 20px;
}